h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}
.container {
    display: flex;
}
.form-label {    
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;

    small {
        color: #ccc;
    }
}
.radio-button {
    margin-right: 10px;
}
.input-text {
    width: 70%;
    display: block;

    input {
        min-height: 35px;
        margin-right: -15px;
        margin-left: -15px;
        width: calc(100% + 30px);
    }
}
.result-container {
    text-align: center;
    margin-top: 45%;

    .risk {
        font-size: 50px;
        font-weight: 500;
    }
    .result {
        font-size: 25px;
        color: #777;
    }
}
mat-error {
    color: red;
}
.help-toggle {
    padding: 3px 10px;
    border-radius: 22px;
    color: #ccc;
    background-color: #fff;
    border: 2px #ccc solid;
    font-size: 20px;

    &.active {
        color: #34e7d6;
        border-color: #34e7d6;
    }
}
.help-wrapper {
    margin-top: 30px;
}