.side-nav-container {
    padding-top: 50px;

    .side-nav-toggle {
        width: 100%;
        background-color: #fff;
        padding: 15px;
        font-size: 20px;
        text-align: left;
        border: none;
        border-bottom: 3px #ccc solid;
        height: 60px;
    
        &.active {
            border-bottom: 3px #2b2b2b solid;
        }
    }
}